.buttonPrev {
  column-gap: fluid(8, 4);
  font-weight: 600;
  font-size: fluid(20, 16);
  color: var(--color-02);
  padding-block: fluid(20.5, 13);
  padding-inline: 0;

  @include hover {
    color: var(--color-accent);
    background-color: transparent;
  }

  @include mobile {
    svg {
      @include square(15px);

      path:last-child {
        display: none;
      }
    }
  }
}

.profile {
  display: grid;
  gap: fluid(40, 32);
  padding-block: fluid(24, 20);

  @include mobile-above {
    grid-template-columns: 31% 1fr;
  }
}

.sidebar,
.menuList,
.profileData,
.form {
  @include flex-column;
}

.sidebar,
.profileData {
  border-radius: var(--border-radius-l);
  padding: fluid(40, 28);
  background-color: var(--color-06);
}

.sidebar {
  gap: fluid(40, 24);

  @include mobile {
    flex-direction: row;
  }

  @include mobile-s {
    flex-direction: column;
  }
}

.profileImage {
  height: fluid(485, 187);
  border-radius: var(--border-radius-s);
  object-fit: cover;

  @include mobile-s {
    width: 100%;
  }
}

.menuList,
.form {
  row-gap: fluid(24, 20);
}

.menuItem {
  font-weight: 500;
  font-size: fluid(16, 14);
  color: var(--color-03);
  padding-bottom: fluid(12, 8);
  border-bottom: var(--border);
  cursor: pointer;
  user-select: none;

  &.isActive {
    font-weight: 600;
    color: var(--color-01);
    cursor: unset;
  }
}

.profileData {
  row-gap: fluid(24, 20);
}

.buttonSave {
  font-weight: 600;
  font-size: fluid(16, 14);
  border-radius: var(--border-radius-xl);
  padding: 12px 42px;
  border: none;
  color: var(--color-06);
  background-color: var(--color-01);

  @include mobile-above {
    align-self: start;
  }

  @include hover {
    color: var(--color-02);
    background-color: var(--color-05);
  }

  &:disabled {
    @include disabled;
  }
}

.error {
  color: var(--color-black);
  padding: 32px;
  text-align: center;
  background-color: rgba(239, 68, 68, 0.1);
  border-radius: var(--border-radius-m);
  margin-top: 32px;
  font-weight: 500;
}
