.card {
  height: max(100%, 168px);
  display: grid;
  gap: fluid(20, 16);
  border-radius: var(--border-radius-l);
  padding: fluid(24, 16);
  background-color: var(--color-06);
  transition-duration: var(--transition-duration);

  @include mobile-above {
    grid-template-columns: 31% 1fr;
    align-items: stretch;
  }

  &.isArchived {
    filter: grayscale(1);
  }
}

.image {
  border-radius: var(--border-radius-s);
  object-fit: cover;

  @include mobile {
    width: 100%;
  }
}

.content {
  @include flex-column(4px);
}

.header {
  display: grid;
  grid-template-columns: auto 24px;
  justify-content: space-between;
  align-items: center;
  column-gap: 12px;
}

.nickname,
.city {
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}

.nickname {
  font-weight: 600;
  font-size: fluid(20, 18);
  color: var(--color-accent);
}

.menuWrapper {
  position: relative;
}

.menuBtn {
  @include flex-center;
  @include square(24px);

  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--color-01);
  transition-duration: var(--transition-duration);

  @include hover {
    color: var(--color-accent);
  }
}

.dropdown {
  position: absolute;
  top: calc(100% + 4px);
  right: 0;
  padding: 8px;
  background-color: var(--color-06);
  border-radius: var(--border-radius-m);
  box-shadow: 0 0 2px 0 #5a5a5a;
  z-index: 10;
  animation: fadeIn 0.15s ease-out;

  @include mobile-s {
    right: -10px;
  }
}

.menuItem {
  width: 100%;
  font-size: fluid(16, 14);
  font-weight: 500;
  text-align: left;
  color: var(--color-01);
  border: none;
  background-color: transparent;
  padding: inherit;
  transition: background-color var(--transition-fast);

  @include hover {
    color: var(--color-accent);
  }
}

.name,
.city {
  font-weight: 500;

  @include mobile {
    font-weight: 600;
  }
}

.name {
  font-size: fluid(16, 14);
  color: var(--color-02);
}

.city {
  margin-top: auto;
  font-size: fluid(14, 10);
  color: var(--color-03);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
