.field {
  @include flex-column(10px);
}

.label {
  font-weight: 600;
  font-size: fluid(18, 16);
  color: var(--color-01);
}

.inputWrapper {
  --inputPaddingX: 16px;

  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  padding: 10px var(--inputPaddingX);
  border: var(--border);
  border-width: var(--border-width-m);
  border-radius: var(--border-radius-xl);
  font-weight: 500;
  font-size: fluid(16, 14);
  color: var(--color-01);
  background-color: transparent;
  outline: none;

  @include mobile {
    padding-block: 11.5px;
  }

  &:focus {
    border-color: var(--color-accent);
  }

  &.hasError {
    border-color: #e69090;
  }
}

.buttonClear {
  @include abs-y;

  right: var(--inputPaddingX);
}

.errorText {
  font-size: 13px;
  color: #c84444;
  margin-top: 2px;
}
